%nav.navbar.navbar-expand-md.navbar-dark{:style => "background-color: #e04f5f;"}
  .container
    %a.navbar-brand{:href => "#"} DonsGram
    %button.navbar-toggler.navbar-toggler-right{"data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:href => "#"} Publicar
      %form.form-inline.m-0
        %input.form-control.mr-2{:placeholder => "¡Busca aquí!", :type => "text"}/
        %button.btn.btn-primary{:type => "submit"}
          Buscar
          %br/
        %a.btn.btn-primary.mx-2{:type => ""}
          %i.fa.fa-user.fa-fw
